<div *ngIf="isChangingProfile">
  <div class="form-container mat-elevation-z5 text-center" *ngIf="user$ | async as user">
    <h1>{{ 'update-profile-text' | transloco }}</h1>
    <div class="profile-image">
      <img width="120" height="120" [src]="user.photoURL ?? 'assets/images/image-placeholder.png'" />
      <button mat-mini-fab (click)="inputField.click()" color="primary">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <input #inputField type="file" hidden (change)="uploadImage($event, user)">

    <form class="margin-top" [formGroup]="profileForm" (ngSubmit)="updateUser(user)">
      <div class="column">
        <mat-form-field>
          <input type="text" matInput formControlName="displayName"
            placeholder="{{ 'display-name-placeholder' | transloco }}" />
        </mat-form-field>
        <mat-form-field>
          <input type="text" matInput formControlName="email"
            placeholder="{{ 'email-placeholder' | transloco }}" />
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput formControlName="password"
            placeholder="{{ 'password-placeholder' | transloco }}" />
        </mat-form-field>
        <mat-form-field>
          <input type="password" matInput formControlName="confirmPassword"
            placeholder="{{ 'confirm-password-placeholder' | transloco }}" />
        </mat-form-field>
      </div>

      <button type="submit" class="margin-top" mat-raised-button color="primary">
        {{ 'save-button-text' | transloco }}
      </button>
    </form>
  </div>
</div>

<div *ngIf="user$ | async as user">
  <div *ngIf="!isChangingProfile">
    <div class="form-container profile-details mat-elevation-z5">
      <div class="profile-details-data">

        <div class="profile-picture">
          <img width="200" height="200" [src]="user.photoURL ?? 'assets/images/image-placeholder.png'" />
        </div>

        <div class="profile-details-infos">
          <h1 class="text-center"><b>{{ user.displayName }}</b></h1>
          <p>{{ 'username-text' | transloco }} <b>{{ user.username}}</b></p>
          <p>{{ 'birthdate-text' | transloco }} <b>{{ user.birthdate }}</b></p>
          <div class="buttons">
            <div *ngIf="!isOwnProfile">
              <button mat-raised-button color="primary" (click)="follow()" class="follow-button">
                {{ followButtonText }}
              </button>
              <button mat-mini-fab color="primary" (click)="redirectToMessagesList(user.username!)">
                <mat-icon>email</mat-icon>
              </button>
            </div>
            <button *ngIf="isOwnProfile" mat-mini-fab (click)="setisChangingProfile()" class="edit-button"
              color="primary">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="profile-details-stats">
        <p>{{ 'followers-text-1' | transloco }} <b>{{ user.followers!.length }}</b> {{ 'followers-text-2' | transloco }}
        </p>
        <p>{{ 'follows-text-1' | transloco }} <b>{{ user.followedUsers!.length }}</b> {{ 'follows-text-2' | transloco }}
        </p>
        <p>{{ 'posts-text-1' | transloco }} <b>{{ user.posts!.length }}</b> {{ 'posts-text-2' | transloco }} </p>
      </div>



    </div>

    <app-post [type]="'ownPosts'" [user]="user$"> </app-post>

  </div>
</div>