<div *ngIf="!isCreatingPost">
    <button class="create-button" mat-fab color="primary" (click)="showHidePostCreater()">
        <mat-icon>create</mat-icon>
    </button>
    <app-post [type]="'ownAndFollowedUsersPosts'" [user]="user$"></app-post>
</div>

<div *ngIf="isCreatingPost">
    <button class="cancel-button" mat-fab color="primary" (click)="showHidePostCreater()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="form-container mat-elevation-z5 text-center">
        <h1>{{ 'create-post-text' | transloco}}</h1>
        <form [formGroup]="postForm">
            <mat-form-field>
                <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                    formControlName="text" placeholder="{{ 'input-placeholder' | transloco}}" class="post-text"></textarea>
            </mat-form-field>

            <button mat-raised-button (click)="inputField.click()" color="primary">
                {{ 'upload-image-button-text' | transloco}}
            </button>
            <input #inputField type="file" hidden (change)="uploadImage($event)">
            <br>

            <button mat-raised-button type="submit" class="margin-top" class="post-button" color="primary"
                (click)="createPost()">
                {{ 'post-button-text' | transloco}}
            </button>
        </form>
    </div>
</div>