server/.idea/
server/.mvn
server/.idea_modules/
server/out/
server/target

server/mvnw
server/mvnw.cmd
server/src/main/resources/serviceAccountKey.json

*.iws
*.iml
*.ipr
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar