<div class="header-container">
    <button class="redirect-button" mat-fab color="primary" (click)="redirectToMessagesList()">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <h1 *ngIf="isEmptyMessagesList" class="text-center" (click)="redirectToPosterProfile(otherUsername)">{{ 'send-first-message-text' | transloco }} {{ otherUserDisplayName }}</h1>
    <h1 *ngIf="!isEmptyMessagesList"class="text-center" (click)="redirectToPosterProfile(otherUsername)">{{ otherUserDisplayName }}</h1>
    <button class="message-writer-button" mat-fab color="primary" (click)="showMessageWriter()">
        <mat-icon>create</mat-icon>
    </button>
</div>

<div class="message-container">
    <div *ngFor="let message of messages">

        <div *ngIf="isOwnMessage(message)" class="messages">
            <div class="own-message-timestamp timestamp">
                {{ message.timestamp! | translocoDate: { timeStyle: 'short' ,dateStyle: 'short'} }}
            </div>
            <div class="own-message message">
                {{ message.messageText }}
            </div>
            <div>
                <img width="50" height="50" [src]="ownPhotoUrl" class="'own-profile-photo profile-photo">
            </div>
        </div>

        <div *ngIf="!isOwnMessage(message)" class="messages">
            <img width="50" height="50" [src]="otherUserPhotoUrl" class="not-own-profile-photo profile-photo">
            <div class="not-own-message message">
                {{ message.messageText }}
            </div>
            <div class="not-own-message-timestamp timestamp">
                {{ message.timestamp! | translocoDate: { timeStyle: 'short' ,dateStyle: 'short'} }}
            </div>
        </div>
    </div>
</div>

<div *ngIf="isWritingMessage" class="message-writer mat-elevation-z5">
    <form [formGroup]="messageForm" class="message-writer-form">
        <mat-form-field>
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                formControlName="text" placeholder="Text" class="message-text"></textarea>
        </mat-form-field>
        <button mat-mini-fab type="submit" class="margin-top" class="send-button" color="primary"
            (click)="sendMessage()">
            <mat-icon>send</mat-icon>
        </button>
    </form>
</div>