<div class="form-container mat-elevation-z5">
    <h1 class="text-center">{{ 'login-text' | transloco}}</h1>
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field>
            <input matInput placeholder="{{ 'email-placeholder' | transloco}}" formControlName="email" />
            <mat-error *ngIf="email?.errors?.['required']">
                {{ 'email-required' | transloco}}
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email']">
                {{ 'email-valid' | transloco}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="{{ 'password-placeholder' | transloco}}" formControlName="password" />
            <mat-error *ngIf="password?.errors?.['required']">
                {{ 'password-required' | transloco}}
            </mat-error>
        </mat-form-field>
        <div class="center">
            <button type="submit" mat-raised-button color="primary">{{ 'login-button-text' | transloco}}</button>
        </div>
        <span class="center margin-top">
            {{ 'new-to-platform-text' | transloco}} <a class="sign-up-link" routerLink="/signup">{{ 'sign-up-button' | transloco}}</a>
        </span>
    </form>
</div>