<div class="card" *ngFor="let comment of commentsWithUserData">
    <mat-card class="mat-elevation-z5">
        <mat-card-header class="mat-header" (click)="redirectToPosterProfile(comment.comment?.commenterUsername!)">
            <div mat-card-avatar>
                <img width="50" height="50" [src]="comment.photoUrl" class="profile-picture">
            </div>
            <div class="align-left">
                <mat-card-title>{{ comment.displayName }}</mat-card-title>
                <mat-card-subtitle>{{ comment.comment.commenterUsername }}</mat-card-subtitle>
            </div>
            <div class="align-right">
                <mat-card-subtitle>{{ comment.comment?.timestamp! | translocoDate: { timeStyle: 'short' ,dateStyle: 'short'} }}</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content class="comment">
            <p>{{ comment.comment.text }}</p>
        </mat-card-content>
    </mat-card>
</div>
<div class="comment-writer">
    <mat-card class="mat-elevation-z5">
        <mat-card-content class="comment-writer-content">
            <form [formGroup]="commentForm">
                <mat-form-field class="comment-form-field">
                    <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"
                        formControlName="text" placeholder="{{ 'input-placeholder' | transloco }}" class="comment-text"></textarea>
                </mat-form-field>
            </form>
            <button class="send-button" mat-fab color="primary" (click)="sendComment()">
                <mat-icon>send</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>
</div>