<div class="form-container mat-elevation-z5">
    <h1 class="text-center">{{ 'sign-up-text' | transloco}}</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="submit()">
        <mat-form-field>
            <input matInput placeholder="{{ 'username-placeholder' | transloco}}" formControlName="username" />
            <mat-error *ngIf="username?.errors?.['required']">
                {{ 'username-required' | transloco}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="{{ 'name-placeholder' | transloco}}" formControlName="displayName" />
            <mat-error *ngIf="displayName?.errors?.['required']">
                {{ 'name-required' | transloco}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="{{ 'email-placeholder' | transloco}}" formControlName="email" />
            <mat-error *ngIf="email?.errors?.['required']">
                {{ 'email-required' | transloco}}
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email']">
                {{ 'email-valid' | transloco}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ 'birthdate-placeholder' | transloco}}</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthdate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="birthdate?.errors?.['required']">
                {{ 'birthdate-required' | transloco}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="{{ 'password-placeholder' | transloco}}" formControlName="password" />
            <mat-error *ngIf="password?.errors?.['required']">
                {{ 'password-required' | transloco}}
            </mat-error>
            <mat-error *ngIf="password?.errors?.['minlength']">
                {{ 'password-length' | transloco}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="password" placeholder="{{ 'confirm-password-placeholder' | transloco}}" formControlName="confirmPassword" />
            <mat-error *ngIf="confirmPassword?.errors?.['required']">
                {{ 'confirm-password-required' | transloco}}
            </mat-error>
            <mat-error *ngIf="confirmPassword?.errors?.['minlength']">
                {{ 'confirm-password-length' | transloco}}
            </mat-error>
        </mat-form-field>
        <mat-error *ngIf="signUpForm.errors?.['notSame']">
            {{ 'password-match' | transloco}}
        </mat-error>
        <div class="center">
            <button type="submit" mat-raised-button color="primary">{{ 'sign-up-button-text' | transloco}}</button>
        </div>
        <span class="center margin-top">
            {{ 'already-registered-text' | transloco}}<a class="login-link" routerLink="/login">{{ 'login-button' | transloco}}</a>
        </span>
    </form>
</div>