.card {
    max-width: 600px;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.profile-picture {
    border-radius: 100%;
}

.mat-header {
    padding-bottom: 2%;
    display: flex;
}

.mat-buttons {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.custom-btn {
    margin: 0px 8px !important;
}

.align-right {
    position: absolute;
    right: 1em;
    top: 40px;
}

.subtitle-left {
    display: inline;
}

.liked {
    color: blue;
}