<div class="card" *ngFor="let post of posts">
    <mat-card class="mat-elevation-z5">
        <mat-card-header class="mat-header">
            <div mat-card-avatar>
                <img width="40" height="40" [src]=post.photoUrl class="profile-picture">
            </div>
            <mat-card-title>{{ post.displayName }}</mat-card-title>
            <!-- Make one of these go to the right and the other to the left  -->
            <mat-card-subtitle class="subtitle-left">{{ post.post?.posterUsername }}</mat-card-subtitle>
            <mat-card-subtitle class="subtitle-right">{{ post.post?.timestamp }}</mat-card-subtitle>
        </mat-card-header>
        <div>
            <img mat-card-image [src]=post.post?.imgSrc>
        </div>
        <mat-card-content>
            <p>{{ post.post?.text }}</p>
        </mat-card-content>
        <span class="like-counter">
            <b>{{ post.post?.usersThatLiked?.length }} people have liked this</b>
        </span>
        <mat-card-actions class="mat-buttons">
            <button mat-button class="custom-btn" (click)="like()"><b>Like</b></button>
            <button mat-button (click)="comment()"><b>Comment</b></button>
        </mat-card-actions>
    </mat-card>
</div>